.mustacheFaqContainer {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 5%;
}
.mustacheFaqContainer > ul {
  /* border: solid; */
  width: 90%;
}
.mustacheFaqContainer > ul > li {
  margin: 2%;
  list-style: none;
  font-size: 20px;
}
.mustacheFaqContainer > ul > li > h2 {
  color: #cc2228;
  text-align: center;
}

.mustacheFaqContainer > ul > li > p > li > span {
  color: var(--customColor);
}
.mustacheFaqContainer > ul > li > p > li > h2 {
  color: var(--customColor);
  font-size: 25px;
}
.mustacheFaqContainer > ul > li > p > li {
  margin: 10px;
}
.mustacheFaqContainer > ul > li > h2 {
  color: #cc2228;
  text-align: center;
  font-size: 25px;
}
.mustacheFaqContainer > ul > li > h3 {
  color: #cc2228;
  text-align: start;
  font-size: 25px;
}
.mustacheFaqContainer > ul > li > span {
  color: #cc2228;
  text-align: center;
}
.mustacheFaqContainer > ul > li > p {
  font-size: 90%;
  text-align: justify;
}
@media screen and (min-width: 320px) {
  .mustacheFaqContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 10%;
  }
  .mustacheFaqContainer > h2 {
    text-align: center;
    font-size: 25px;
  }
  .mustacheFaqContainer > ul {
    /* border: solid; */
    width: 95%;
  }
  .mustacheFaqContainer > ul > li {
    /* border: solid; */
    width: 100%;
    margin: 0%;
    margin-top: 10px;
    list-style: none;
    font-size: 20px;
    padding: 10px;
  }
  .mustacheFaqContainer > ul > li > p > li > span {
    color: var(--customColor);
  }
  .mustacheFaqContainer > ul > li > p > li > h2 {
    color: var(--customColor);
    font-size: 25px;
  }
  .mustacheFaqContainer > ul > li > p > li {
    margin: 10px;
  }
  .mustacheFaqContainer > ul > li > h2 {
    color: #cc2228;
    text-align: center;
    font-size: 25px;
  }
  .mustacheFaqContainer > ul > li > h3 {
    color: #cc2228;
    text-align: start;
    font-size: 25px;
  }
  .mustacheFaqContainer > ul > li > span {
    color: #cc2228;
    text-align: center;
  }
  .mustacheFaqContainer > ul > li > p {
    font-size: 90%;
    text-align: justify;
  }
}
@media screen and (min-width: 728px) {
  .mustacheFaqContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
  }
  .mustacheFaqContainer > ul {
    /* border: solid; */
    width: 90%;
  }
  .mustacheFaqContainer > ul > li {
    margin: 2%;
    list-style: none;
    font-size: 120%;
  }
  .mustacheFaqContainer > ul > li > span {
    color: #cc2228;
  }
  .mustacheFaqContainer > ul > li > p {
    font-size: 90%;
  }
}

@media screen and (min-width: 990px) {
  .mustacheFaqContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
  }
  .mustacheFaqContainer > ul {
    /* border: solid; */
    width: 90%;
  }
  .mustacheFaqContainer > ul > li {
    margin: 2%;
    list-style: none;
    font-size: 120%;
  }
  .mustacheFaqContainer > ul > li > span {
    color: #cc2228;
  }
  .mustacheFaqContainer > ul > li > p {
    font-size: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .mustacheFaqContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
  }
  .mustacheFaqContainer > ul {
    /* border: solid; */
    width: 90%;
  }
  .mustacheFaqContainer > ul > li {
    margin: 2%;
    list-style: none;
    font-size: 120%;
  }
  .mustacheFaqContainer > ul > li > span {
    color: #cc2228;
  }
  .mustacheFaqContainer > ul > li > p {
    font-size: 90%;
  }
}
