.locationHeadContainer {
  /* border: solid green; */
  height: 36vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

.locationHeadContent {
  /* border: solid red; */
  height: 100%;
  width: 50%;
}
#LocationHeadContent1 {
  width: 40%;
}
.locationHeadItem {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#locationHeadItem2 {
  /* border: solid blue; */
  height: 40%;
}
#locationHeadItem3 {
  height: 60%;
}
.locationInnerItem {
  /* border: solid yellowgreen; */
  height: 100%;
  width: 50%;
}
.locationHeadContact {
  /* border: solid; */
  height: 30%;
}
.locationHeadContact1 {
  /* border: solid; */
  height: 70%;
}
.locationHeadTiming {
  /* border: solid red; */
  height: 30%;
}
.locationHeadTiming1 {
  /* border: solid; */
  height: 70%;
}
.locationHeadTiming1 > p {
  /* border: solid blue; */
  font-size: 110%;
  width: 75%;
}
.locationHeadContact1 > h2 {
  font-size: 110%;
  color: black;
}
#locationHeadItem3 {
  /* border: solid pink; */
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.locationHeadAdd {
  /* border: solid green; */
  width: 50%;
  font-size: 130%;
}

h1,
h2,
h3,
h4 {
  color: var(--customRed);
}
