.locationHeadContainer {
  /* border: solid green; */
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.locationHeadContent {
  /* border: solid red; */
  height: 80%;
  width: 50%;
}
#LocationHeadContent1 {
  width: 40%;
}
.locationHeadItem {
  /* border: solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#locationHeadItem1 {
  height: 20%;
}
#locationHeadItem2 {
  /* border: solid blue; */
  height: 20%;
}
#locationHeadItem3 {
  height: 30%;
}
.locationInnerItem {
  /* border: solid yellowgreen; */
  height: 100%;
  width: 50%;
}
.locationHeadContact {
  /* border: solid; */
  height: 30%;
}
.locationHeadContact1 {
  /* border: solid; */
  height: 70%;
}
.locationHeadTiming {
  /* border: solid red; */
  height: 30%;
}
.locationHeadTiming1 {
  /* border: solid; */
  height: 70%;
}
.locationHeadTiming1 > p {
  /* border: solid blue; */
  font-size: 110%;
  width: 75%;
}
.locationHeadContact1 > h2 {
  font-size: 110%;
  color: black;
}
#locationHeadItem3 {
  /* border: solid pink; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.locationHeadAdd {
  /* border: solid green; */
  width: 50%;
  font-size: 130%;
}

h1,
h2,
h3,
h4 {
  color: var(--customRed);
}
@media screen and (max-width: 600px) {
  .locationHeadContainer {
    /* border: solid green; */
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .locationHeadContent {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    /* height: 100%; */
  }
  #locationHeadContent1 {
    /* height: 100%; */
    width: 100%;
  }
  #locationHeadContent2 {
    height: 50%;
  }
  .locationHeadItem {
    /* border: solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #locationHeadItem1 > h1 {
    width: 100%;
    text-align: center;
  }
  #locationHeadItem2 {
    /* border: solid blue; */
    height: 30%;
  }
  #locationHeadItem3 {
    height: 30%;
  }
  .locationInnerItem {
    /* border: solid yellowgreen; */
    height: 50%;
    width: 100%;
    text-align: center;
  }
  .locationHeadTiming1 > p {
    /* border: solid blue; */
    font-size: 110%;
    width: 100%;
  }
  .locationHeadAdd {
    /* border: solid green; */
    width: 100%;
    font-size: 130%;
    text-align: center;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .locationHeadContainer {
    /* border: solid green; */
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 30px;
  }

  .locationHeadContent {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    /* height: 100%; */
  }
  #locationHeadContent1 {
    /* height: 100%; */
    width: 100%;
  }
  #locationHeadContent2 {
    height: 50%;
  }
  .locationHeadItem {
    /* border: solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #locationHeadItem1 > h1 {
    width: 100%;
    text-align: center;
  }
  #locationHeadItem2 {
    /* border: solid blue; */
    height: 30%;
  }
  #locationHeadItem3 {
    height: 30%;
  }
  .locationInnerItem {
    /* border: solid yellowgreen; */
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .locationHeadTiming1 > p {
    /* border: solid blue; */
    font-size: 110%;
    width: 100%;
  }
  .locationHeadAdd {
    /* border: solid green; */
    width: 100%;
    font-size: 130%;
    text-align: center;
  }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .locationHeadContainer {
    /* border: solid green; */
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
  }

  .locationHeadContent {
    /* border: solid red; */
    height: 80%;
    width: 50%;
  }
  #LocationHeadContent1 {
    width: 40%;
  }
  .locationHeadItem {
    /* border: solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #locationHeadItem1 {
    height: 20%;
  }
  #locationHeadItem2 {
    /* border: solid blue; */
    height: 20%;
  }
  #locationHeadItem3 {
    /* border: solid brown; */
    height: 30%;
  }
  .locationInnerItem {
    /* border: solid yellowgreen; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .locationHeadContact {
    /* border: solid; */
    height: 30%;
  }
  .locationHeadContact1 {
    /* border: solid; */
    height: 70%;
  }
  .locationHeadTiming {
    /* border: solid red; */
    height: 30%;
  }
  .locationHeadTiming1 {
    /* border: solid; */
    height: 70%;
  }
  .locationHeadTiming1 > p {
    /* border: solid blue; */
    font-size: 120%;
    width: 100%;
    text-align: center;
  }
  .locationHeadContact1 > h2 {
    font-size: 110%;
    color: black;
  }
  #locationHeadItem3 {
    /* border: solid pink; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .locationHeadAdd {
    /* border: solid green; */
    width: 50%;
    font-size: 130%;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--customRed);
  }
}
