.gelNailContent {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50%;
  }
  .gelNailCardContainer {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 320px) {
    .gelNailContent {
      /* border: solid red; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50%;
    }
    .gelNailCardContainer {
      /* border: solid; */
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  