.innerNaviContainer {
  /* border: solid; */
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.innerNaviContent {
  /* border: solid; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  color: #cc2228;
}
.innerNaviContent > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: lighter;
  gap: 10px;
}
@media screen and (max-width: 600px) {
  .innerNaviContainer {
    /* border: solid; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerNaviContent {
    /* border: solid; */
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0px;
    color: #cc2228;
  }
  .innerNaviContent > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    gap: 10px;
  }
}
