.blogWhat-content {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  padding: 20px;
}
.blogWhat-content > h5 {
  font-size: 25px;
  color: var(--customColor);
  text-align: center;
  width: 100%;
}
.blogWhat-content > p {
  font-size: 20px;
  width: 100%;
  text-align: justify;
}
.blogWhat-content > p > a {
  color: var(--customColor);
  text-decoration: none;
}
.blogWhat-content > ul > p {
  font-size: 20px;
  width: 100%;
  text-align: justify;
}
.blogWhat-content > ul > p > span {
  color: var(--customColor);
  font-weight: bold;
}
.blogWhat-content > ul > h4 {
  color: var(--customColor);
  font-size: 20px;
  text-align: start;
}
.blogWhat-content > ul > li > p > a {
  text-decoration: none;
  color: var(--customColor);
}
.blogWhat-content > ul > li {
  list-style: none;
  font-size: 20px;
  text-align: justify;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.blogWhat-content > ul > li>h6 {
  color: var(--customColor);
  font-size: 18px;
  font-weight:600;
}

.blogWhat-content > ul > li > ul > li {
  list-style: none;
  font-size: 20px;
  text-align: justify;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.blogWhat-content > ul > li > ul > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--customColor);
  text-align: start;
}


.blogWhat-content > ul > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--customColor);
  text-align: start;
}
.blogWhat-content > ul > li > span > img {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .blogWhat-content {
    /* border: solid red; */
    padding: 5px;
  }
  .blogWhat-content > ul > li > ul {
    margin-right: 30px;
  }
}
