.hairReadContainer {
  /* border: solid; */
  /* height: 70vh; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.hairReadHeadContainer {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.hairReadHeadContainer > button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 30px;
}
.hairReadHeadContainer > button > h6 {
  font-size: 20px;
  text-decoration: underline;
  font-weight: lighter;
}
.hairReadContainer > header > h1 {
  margin: 20px;
  font-size: 40px;
  color: var(--customColor);
  display: block;
  font-weight: lighter;
  text-align: center;
}
.hairReadHeadContainer > ul {
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hairReadHeadContainer > ul > li {
  /* border: solid green; */
  width: 90%;
  font-size: 20px;
  list-style: none;
  margin: 10px;
}
.hairReadHeadContainer > ul > li >p> a {
  color: var(--customColor);
}
.hairReadDisplayContainer {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  display: none;
  cursor: default;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hairReadDisplayContainer > h3 {
  font-size: 25px;
}
.hairReadDisplayContainer > ul > li > h4 {
  font-size: 20px;
  font-weight: lighter;
}
.hairReadDisplayContainer > ul > li > p > a {
  color: var(--customColor);
}
.hairReadDisplayContainer > ul {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hairReadDisplayHead {
  /* border: solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hairReadDisplayHead > h3 {
  width: 90%;
  text-align: start;
  font-size: 20px;
  margin-top: 10px;
}

.hairReadDisplayContainer > ul > li {
  /* border: solid blue; */
  width: 90%;
  font-size: 20px;
  list-style: none;
  margin: 10px;
}
.hairReadDisplayContainer > ul > li > a {
  color: var(--customColor);
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .hairReadContainer {
    /* border: solid red; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
  }
  .hairReadHeadContainer > h2 {
    font-size: 120%;
  }
  .hairReadDisplayContainer {
    height: 100%;
  }
  .readmehead2 > h3 {
    font-size: 120%;
    color: black;
  }

  .hairReadDisplayContainer ul > li {
    /* border: solid green; */
    margin: 5%;
    font-size: 120%;
  }
}
