.blogMainContainer {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.blogMainDisplay1 {
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.blogMainDisplay2 {
  /* border: solid blue; */
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.blogCardContainer {
  /* border: solid green; */
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 10px;
}
.blogCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.BlogCardBut {
  /* border: solid brown; */
  width: 100px;
  height: 40px;
}
.BlogCardBut > button {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 15px;
  background-color: var(--customColor);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.BlogCardBut > button > a {
  text-decoration: none;
  color: white;
}
.blogMainReadMore {
  /* border: solid green; */
  width: 200px;
  height: 50px;
}
.blogMainReadMore > button {
  width: 100%;
  height: 100%;
  background-color: var(--customColor);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .blogMainContainer {
    /* border: solid red; */
    padding: 0px;
  }
  .blogCardContainer {
    /* border: solid green; */
    min-width: 300px;
    gap: 10px;
    padding: 0px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
