:root {
  --customRed: #cc2228;
}
.serviceWhyContainer {
  /* border: solid red; */
  height: 80vh;
  margin-top: 5%;
}
.serviceWhyHeadContainer {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10%;
}
.serviceWhyUnderline {
  border: 2px solid;
  color: var(--customRed);
  width: 5%;
}
.serviceWhyMainContainer {
  /* border: solid green; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.serviceWhyCardContainer {
  /* border: solid; */
  height: 180px;
  width: 180px;
  margin: 3%;
}
.serviceWhyCardContent1 {
  /* border: solid green; */
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceWhyCardContent1 > img {
  width: 50%;
  height: 50%;
}

.serviceWhyCardContent2 {
  /* border: solid blue; */
  height: 20%;
}
.serviceWhyCardContent2 > p {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: bold;
}
@media screen and (min-width: 320px) {
  .serviceWhyContainer {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    margin-top: 20%;
  }
  .serviceWhyUnderline {
    border: 2px solid;
    color: var(--customRed);
    width: 20%;
  }
  .serviceWhyMainContainer {
    /* border: solid green; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .serviceWhyCardContainer {
    /* border: solid; */
    height: 150px;
    width: 150px;
    margin: 3%;
  }
  .serviceWhyHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5%;
  }
}
@media screen and (min-width: 768px) {
  .serviceWhyContainer {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    margin-top: 15%;
  }
  .serviceWhyUnderline {
    border: 2px solid;
    color: var(--customRed);
    width: 10%;
  }
  .serviceWhyMainContainer {
    /* border: solid green; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .serviceWhyCardContainer {
    /* border: solid; */
    height: 150px;
    width: 150px;
    margin: 3%;
  }
  .serviceWhyHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5%;
  }
}
