:root {
  --customRed: #cc2228;
}
.serviceWhyContainer {
  /* border: solid red; */
  height: 80vh;
  margin-top: 5%;
}
.serviceWhyHeadContainer {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10%;
}
.serviceWhyUnderline {
  border: 2px solid;
  color: var(--customRed);
  width: 5%;
}
.serviceWhyMainContainer {
  /* border: solid green; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.serviceWhyCardContainer {
  /* border: solid; */
  height: 180px;
  width: 180px;
  margin: 3%;
}
.serviceWhyCardContent1 {
  /* border: solid green; */
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceWhyCardContent1 > img {
  width: 50%;
  height: 50%;
}

.serviceWhyCardContent2 {
  /* border: solid blue; */
  height: 20%;
}
.serviceWhyCardContent2 > p {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .serviceWhyContainer {
    /* border: solid green; */
    width: 100%;
    height: 200vh;
    margin-top: 30%;
  }
  .serviceWhyUnderline {
    border: 2px solid;
    color: var(--customRed);
    width: 20%;
  }
  .serviceWhyMainContainer {
    /* border: solid green; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .serviceWhyCardContainer {
    /* border: solid; */
    height: 15%;
    width: 40%;
    margin: 3%;
  }
  .serviceWhyHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5%;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .serviceWhyContainer {
    /* border: solid green; */
    width: 100%;
    height: 170vh;
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .serviceWhyUnderline {
    border: 2px solid;
    color: var(--customRed);
    width: 20%;
  }
  .serviceWhyMainContainer {
    /* border: solid green; */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .serviceWhyCardContainer {
    /* border: solid; */
    height: 15%;
    width: 20%;
    margin: 5%;
  }
  .serviceWhyHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 5%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .serviceWhyContainer {
    /* border: solid red; */
    height: 120vh;
    width: 90%;
    margin-left: 5%;
  }
  .serviceWhyHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
  }
  .serviceWhyUnderline {
    border: 2px solid;
    color: var(--customRed);
    width: 5%;
  }
  .serviceWhyMainContainer {
    /* border: solid green; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .serviceWhyCardContainer {
    /* border: solid; */
    height: 180px;
    width: 180px;
    margin: 1%;
  }
  .serviceWhyCardContent1 {
    /* border: solid green; */
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .serviceWhyCardContent1 > img {
    width: 50%;
    height: 50%;
  }

  .serviceWhyCardContent2 {
    /* border: solid blue; */
    height: 20%;
  }
  .serviceWhyCardContent2 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1200px) {
  .serviceWhyContainer {
    /* border: solid red; */
    height: 120vh;
    width: 90%;
    margin-left: 5%;
  }
  .serviceWhyHeadContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
  }
  .serviceWhyUnderline {
    border: 2px solid;
    color: var(--customRed);
    width: 5%;
  }
  .serviceWhyMainContainer {
    /* border: solid green; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .serviceWhyCardContainer {
    /* border: solid; */
    height: 180px;
    width: 180px;
    margin: 1%;
  }
  .serviceWhyCardContent1 {
    /* border: solid green; */
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .serviceWhyCardContent1 > img {
    width: 50%;
    height: 50%;
  }

  .serviceWhyCardContent2 {
    /* border: solid blue; */
    height: 20%;
  }
  .serviceWhyCardContent2 > p {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
  }
}
