:root {
    --customRed: #cc2228;
  }
  .beardNearContainer {
    /* border: solid red; */
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .beardNearHeadContainer {
    /* border: solid; */
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .beardNearHeadContainer > h1 {
    font-size: 40px;
    color: var(--customRed);
  }
  .beardNearUnderline {
    border: 2px solid;
    width: 60px;
    color: var(--customRed);
  }
  .beardNearParaContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .beardNearParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 18px;
  }
  
  