.spaReadContainer {
  /* border: solid; */
  /* height: 70vh; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.spaReadContainer > header > h1 {
  margin: 20px;
  font-size: 40px;
  color: var(--customColor);
  display: block;
  font-weight: lighter;
  text-align: center;
}
.spaReadHeadContainer {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.spaReadHeadContainer > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spaReadHeadContainer > ul > li {
  /* border: solid green; */
  width: 90%;
  font-size: 20px;
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.spaReadHeadContainer > ul > li > p > a {
  color: var(--customColor);
}
.spaReadHeadContainer > ul > li > h4 {
  font-size: 20px;
  font-weight: lighter;
}
.spaReadHeadContainer > button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.spaReadDisplayContainer {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  display: none;
  cursor: default;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.spaReadDisplayContainer > ul {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.spaReadDisplayContainer > ul > li {
  /* border: solid blue; */
  width: 90%;
  font-size: 20px;
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.spaReadDisplayContainer > ul > li > p > a {
  color: var(--customColor);
}
.openBut {
  text-decoration: underline;
  font-weight: lighter;
}
.spaReadDisplayContainer > ul > li > p > span {
  color: var(--customColor);
}

@media screen and (max-width: 600px) {
  .spaReadContainer {
    /* border: solid red; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    text-align: justify;

  }
  .spaReadHeadContainer > h2 {
    font-size: 150%;
  }
  .spaReadDisplayContainer {
    height: 100%;
  }
  .spaReadDisplayContainer ul > li {
    /* border: solid green; */
    margin: 5%;
    font-size: 100%;
  }
}
