.hairWhyContainer {
  /* border: solid; */
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 5%;
  background-image: url("https://thumbs.dreamstime.com/b/grey-mat-electrical-hand-held-hair-iron-dryer-salon-barber-shop-mirror-background-160479849.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hairWhyCardContainer {
  /* border: solid; */
  height: 250px;
  width: 12%;
}
.hairWhyImage {
  /* border: solid; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hairWhyImage > img {
  width: 80%;
  height: 70%;
}
.hairWhyTxt {
  /* border: solid; */
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hairWhyTxt > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #58595b;
}
@media screen and (max-width: 600px) {
  .hairWhyContainer {
    /* border: solid green; */
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  .hairWhyCardContainer {
    /* border: solid red; */
    height: 165px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hairWhyImage {
    /* border: solid; */
    width: 100%;
  }
  .hairWhyImage > img {
    /* border: solid blue; */
    width: 60%;
    height: 60%;
  }
  .hairWhyTxt {
    /* border: solid; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hairWhyTxt > p {
    font-size: 80%;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .hairWhyContainer {
    /* border: solid green; */
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  .hairWhyCardContainer {
    /* border: solid red; */
    height: 165px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .hairWhyImage {
    /* border: solid; */
    width: 100%;
  }
  .hairWhyImage > img {
    /* border: solid blue; */
    width: 60%;
    height: 60%;
  }
  .hairWhyTxt {
    /* border: solid; */
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hairWhyTxt > p {
    font-size: 80%;
  }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .hairWhyContainer {
    border: solid;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .hairWhyCardContainer {
    /* border: solid; */
    height: 250px;
    width: 12%;
  }
  .hairWhyImage {
    /* border: solid; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hairWhyImage > img {
    width: 80%;
    height: 70%;
  }
  .hairWhyTxt {
    /* border: solid; */
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hairWhyTxt > p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #58595b;
  }
}
