:root {
  --customRed: #cc2228;
}

.beardImgContainer {
  /* border: solid red; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* .servicePageImgContainer > img {
    height: 80%;
    width: 90%;
    position: relative;
    z-index: 1;
  } */
.beardImgCover {
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.595);
  position: relative;
  z-index: 1;
  background-image: url("https://img.freepik.com/free-photo/brunette-man-lies-with-open-eyes-while-barber-cuts-his-beard_1304-2776.jpg?t=st=1714371443~exp=1714375043~hmac=c0f11cdac36f9320bcaab047cdc9aa22c09ce87a30a1ad54c87e29df3bf59882&w=900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:0px
}
.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.595);
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.overCoverTxt {
  /* border: solid; */
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.overCoverTxt > h1 {
  font-size: 50px;
  font-weight: lighter;
  color: white;
}
.coverUnderline {
  border: 2px solid;
  width: 100px;
  color: var(--customRed);
}
.overCoverTxt > p {
  /* border: solid; */
  text-align: center;
  width: 95%;
  font-size: 20px;
}
