:root {
  --customRed: #cc2228;
}
/* .homeFormWrapper {
    border: solid;
    height: 80vh;
    width: 100%;
    top: 12vh;
    position: fixed;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  } */
.homeFormContainer {
  /* border: solid green; */
  width: 40%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.645);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}
.formIcon {
  font-size: 200%;
  color: white;
  margin-right: 10px;
}

.homeFormContainer > form {
  /* border: solid red; */
  width: 100%;
  height: 100%;
}
.homeFormContainer > form > fieldset {
  width: 100%;
  height: 100%;
  border: none;
}
.homeFormContainer > form > fieldset > legend {
  font-size: 200%;
  text-align: center;
  color: white;
  border: none;
  font-family: "Times New Roman", Times, serif;
}
.homeFormContainer > form > fieldset > table {
  /* border: solid yellow; */
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.homeFormContainer > form > fieldset > table > tr {
  /* border: solid purple; */
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 30px;
}
.homeFormContainer > form > fieldset > table > tr > label {
  color: white;
  font-size: 150%;
}
.homeFormContainer > form > fieldset > table > tr > td {
  /* border: solid blue; */
  width: 200px;
  height: 35px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeFormContainer > form > fieldset > table > tr > td > input {
  border: none;
  height: 100%;
  outline: none;
  font-size: 90%;
}
.homeFormContainer > form > fieldset > table > tr > td > select {
  border: none;
  height: 100%;
  width: 90%;
  outline: none;
  font-size: 90%;
  border-radius: 0;
}
.homeFormContainer > form > fieldset > table > tr > td > select > option {
  border: solid;
  height: 100%;
  outline: none;
  font-size: 90%;
  border-radius: 0;
}
.homeFormContainer > form > fieldset > table > button {
  height: 40px;
  width: 30%;
  border-radius: 20px;
  font-size: 130%;
  background-color: white;
  color: var(--customRed);
}
.homeFormContainer > form > fieldset > table > button:hover {
  background-color: var(--customRed);
  color: white;
}
@media screen and (max-width: 600px) {
  .homeFormContainer {
    /* border: solid green; */
    width: 100%;
    height: 90%;
  }

  .homeFormContainer > form > fieldset > table > tr > td {
    /* border: solid blue; */
    width: 90%;
    height: 35px;
  }
  .homeFormContainer > form > fieldset > table > tr {
    /* border: solid purple; */
    width: 90%;
    gap: 20px;
  }
  .homeFormContainer > form > fieldset > table > tr > label {
    color: white;
    /* border: solid greenyellow; */
    font-size: 120%;
    width: 50%;
  }
  
  .homeFormContainer > form > fieldset > table > tr > td > input {
    height: 100%;
    width: 50%;
    font-size: 90%;
  }
}
