:root {
  --customRed: #cc2228;
}
.instaContainer {
  /* border: solid; */
  height: 120vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.instaHeadContainer {
  /* border: solid; */
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.instaHeadContainer > h1 {
  font-size: 40px;
  color: var(--customRed);
}
.instaUnderline {
  border: 2px solid;
  width: 80px;
  color: var(--customRed);
}
.instaParaContainer {
  /* border: solid; */
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.instaParaContainer > pre {
  font-weight: lighter;
  font-size: 20px;
}
.instaParaContainer > p {
  font-weight: lighter;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}
.instaImgWrapper {
  /* border: solid blue; */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.instaFeedVidContainer {
  border: solid  transparent;
  width: 328px ;
  margin: 10px;
  margin-left: 50px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.instaSlider {
  /* border: solid teal; */
  height: 90%;
  width: 90%;
}
.instaInnerSlider {
  /* border: solid; */
  height: 100%;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  .instaContainer {
    /* border: solid; */
    height: 140vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
  }
  .instaHeadContainer {
    /* border: solid; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaHeadContainer > h1 {
    font-size: 40px;
    color: var(--customRed);
  }
  .instaUnderline {
    border: 2px solid;
    width: 80px;
    color: var(--customRed);
  }
  .instaParaContainer {
    /* border: solid; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaParaContainer > pre {
    font-weight: lighter;
    font-size: 20px;
  }
  .instaParaContainer > p {
    font-weight: lighter;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
  }
  .instaImgWrapper {
    /* border: solid blue; */
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .instaFeedVidContainer {
    /* border: solid red; */
    width: 100%;
    margin: 0px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .instaSlider {
    /* border: solid teal; */
    height: 100%;
    width: 100%;
  }
  .instaInnerSlider {
    /* border: solid; */
    height: 100%;
    width: 50%;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .instaContainer {
    /* border: solid; */
    width: 100%;
    height: 120vh;
  }
  .instaItem1 > h1 {
    font-size: 60px;
  }
  .instaContent2 > p {
    font-size: 30px;
  }
  .instaContent3 > p {
    font-weight: lighter;
    font-size: 30px;
    text-decoration: underline;
  }
  .instaContent4 {
    /* border: solid blue; */
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaItem {
    /* border: solid red; */
    width: 100%;
    height: 90%;
    position: relative;
  }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {

  .instaContainer {
    /* border: solid; */
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;gap: 10px;
  }
  .instaHeadContainer {
    /* border: solid; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaHeadContainer > h1 {
    font-size: 40px;
    color: var(--customRed);
  }
  .instaUnderline {
    border: 2px solid;
    width: 80px;
    color: var(--customRed);
  }
  .instaParaContainer {
    /* border: solid; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaParaContainer > pre {
    font-weight: lighter;
    font-size: 20px;
  }
  .instaParaContainer > p {
    font-weight: lighter;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
  }
  .instaImgWrapper {
    /* border: solid blue; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .instaFeedVidContainer {
    /* border: solid red ; */
    width: 328px;
    margin: 0px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .instaSlider {
    /* border: solid teal; */
    height: 100%;
    width: 95%;
  }
  .instaInnerSlider {
    /* border: solid; */
    height: 100%;
    width: 50%;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1200px) {

  .instaContainer {
    /* border: solid; */
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;gap: 10px;
  }
  .instaHeadContainer {
    /* border: solid; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaHeadContainer > h1 {
    font-size: 40px;
    color: var(--customRed);
  }
  .instaUnderline {
    border: 2px solid;
    width: 80px;
    color: var(--customRed);
  }
  .instaParaContainer {
    /* border: solid; */
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .instaParaContainer > pre {
    font-weight: lighter;
    font-size: 20px;
  }
  .instaParaContainer > p {
    font-weight: lighter;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
  }
  .instaImgWrapper {
    /* border: solid blue; */
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .instaFeedVidContainer {
    /* border: solid red ; */
    width: 328px;
    margin: 0px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 45px;
  }
  .instaSlider {
    /* border: solid teal; */
    height: 100%;
    width: 95%;
  }
  .instaInnerSlider {
    /* border: solid; */
    height: 100%;
    width: 50%;
  }
}