.whyContainer {
  /* border: solid; */
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.whyCardContainer {
  /* border: solid; */
  height: 250px;
  width: 12%;
}
.whyImage {
  /* border: solid; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyImage > img {
  width: 80%;
  height: 70%;
}
.whyTxt {
  /* border: solid; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyTxt > p {
  display: flex;
  justify-content: center;
  align-items: center;text-align: center;
  font-weight: bold;color: #58595B;
}
