.navbg {
  background-color: black;
  height: 100px;
}
.scentPhiloPageContainer {
  /* border: solid blue; */
}
.scentPhiloHeadContainer {
  /* border: solid red; */
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scentPhiloHeadContainer > h1 {
  font-size: 60px;
  border: solid;
  color: transparent;
  background-color: #cc2228;
  background-clip: text;
  filter: grayscale(1);
  transition: 300ms ease-out;
}
.philoHead:hover {
  filter: grayscale(0);
}
.philoUnderline {
  border: solid 1px;
  margin-top: 20px;
  width: 200px;
}
.scentPhiloTxtContainer {
  /* border: solid; */
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.scentPhiloTxtContent1 {
  /* border: solid; */
  width: 60%;
  height: 100%;
}
.scentPhiloTxtContent1 > p {
  font-size: 20px;
  margin: 10px;
}
.scentPhiloTxtContent1 > h1 {
  color: black;
}
.scentPhiloTxtContent1 > h1 > span {
  color: #cc2228;
}
.scentPhiloTxtContent2 {
  /* border: solid blue; */
  width: 30%;
  height: 100%;
}
.scentPhiloTxtContent2 > video {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .scentPhiloPageContainer {
    /* border: solid blue; */
  }
  .scentPhiloHeadContainer {
    /* border: solid red; */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .scentPhiloHeadContainer > h1 {
    border: solid;
    font-size: 60px;
    color: transparent;
    background-color: #cc2228;
    background-clip: text;
    filter: grayscale(1);
    transition: 300ms ease-out;
    text-align: center;
  }
  .philoHead:hover {
    filter: grayscale(0);
  }
  .philoUnderline {
    border: solid 1px;
    margin-top: 20px;
    width: 200px;
  }
  .scentPhiloTxtContainer {
    /* border: solid; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .scentPhiloTxtContent1 {
    /* border: solid; */
    width: 90%;
    height: 100%;
  }
  .scentPhiloTxtContent1 > p {
    font-size: 20px;
    margin: 10px;
  }
  .scentPhiloTxtContent1 > h1 {
    color: black;
    font-size: 150%;
  }
  .scentPhiloTxtContent1 > h1 > span {
    color: #cc2228;
  }
  .scentPhiloTxtContent2 {
    /* border: solid blue; */
    width: 100%;
    height: 40%;
  }
  .scentPhiloTxtContent2 > video {
    width: 100%;
    height: 100%;
  }
}
