:root {
  --customRed: #cc2228;
}
.innerServiceTxtContainer {
  /* border: solid red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.innerServiceTxtHeadContainer {
  /* border: solid; */
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: var(--customRed);
}
.innerServiceTxtHeadContainer > h1 {
  font-size: 40px;
  text-align: center;
  color: var(--customRed);
  font-weight: lighter;
}
.innerServiceTxtUnderline {
  border: 2px solid;
  width: 10%;
  color: var(--customRed);
}
.innerServiceTxtParaContainer {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerServiceTxtParaContainer > p {
  /* border: solid blue; */
  text-align: center;
  width: 90%;
  font-size: 20px;
}
@media screen and (min-width: 320px) {
  .innerServiceTxtContainer {
    /* border: solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
    gap: 10px;
  }
  .innerServiceTxtHeadContainer {
    /* border: solid; */
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .innerServiceTxtHeadContainer > h2 {
    font-size: 120%;
    text-align: center;
    color: var(--customRed);
  }
  .innerServiceTxtUnderline {
    border: 2px solid;
    width: 20%;
    color: var(--customRed);
  }
  .innerServiceTxtParaContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerServiceTxtParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .innerServiceTxtContainer {
    /* border: solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
  }
  .innerServiceTxtHeadContainer {
    /* border: solid; */
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .innerServiceTxtHeadContainer > h2 {
    font-size: 150%;
    text-align: center;
    color: var(--customRed);
  }
  .innerServiceTxtUnderline {
    border: 2px solid;
    width: 10%;
    color: var(--customRed);
  }
  .innerServiceTxtParaContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerServiceTxtParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 20px;
  }
}
@media screen and (min-width: 990px) {
  .innerServiceTxtContainer {
    /* border: solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  .innerServiceTxtHeadContainer {
    /* border: solid; */
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .innerServiceTxtHeadContainer > h2 {
    font-size: 150%;
    text-align: center;
    color: var(--customRed);
  }
  .innerServiceTxtUnderline {
    border: 2px solid;
    width: 10%;
    color: var(--customRed);
  }
  .innerServiceTxtParaContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerServiceTxtParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .innerServiceTxtContainer {
    /* border: solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  .innerServiceTxtHeadContainer {
    /* border: solid; */
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .innerServiceTxtHeadContainer > h2 {
    font-size: 150%;
    text-align: center;
    color: var(--customRed);
  }
  .innerServiceTxtUnderline {
    border: 2px solid;
    width: 10%;
    color: var(--customRed);
  }
  .innerServiceTxtParaContainer {
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .innerServiceTxtParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 20px;
  }
}
