.jpLocAboutContainer {
    /* border: solid; */
    margin-top: 10%;
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .jpLocAboutContainer > p {
    /* border: solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .jpLocAboutContainer > h2 {
    font-size: 30px;
    text-align: center;
  }
  .jpLocAboutContainer > p > ul > li {
    list-style: none;
    text-align: center;
    font-size: 120%;
    margin: 20px;
  }
  