:root {
  --customRed: #cc2228;
}
.unisexSalonContainer {
  /* border: solid red; */
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.unisexHeadContainer {
  /* border: solid; */
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--customRed);
}
.unisexHeadContainer > h1 {
  font-size: 40px;
  color: var(--customRed);
}
.unisexUnderline {
  border: 2px solid;
  width: 100px;
  color: var(--customRed);
}
.unisexParaContainer {
  /* border: solid; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.unisexParaContainer > p {
  /* border: solid blue; */
  text-align: center;
  width: 90%;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media screen and (max-width: 600px) {
  .unisexSalonContainer {
    /* border: solid red; */
    height:120%;
    width: 100%;
    margin-top: 40%;
    gap: 10px;
  }
  .unisexHeadContainer {
    /* border: solid; */
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .unisexHeadContainer > h1 {
    font-size: 150%;
    color: var(--customRed);text-align:center ;
  }
.unisexParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 90%;
    display: flex;justify-content: center;align-items: center;
  }
}

@media screen and (max-width: 990px) and (min-width: 600px) {
  .unisexSalonContainer {
    /* border: solid red; */
    height: 160vh;
    width: 100%;
    margin-top: 50px;
  }
  .unisexHeadContainer {
    /* border: solid; */
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--customRed);
  }
  .unisexHeadContainer > h1 {
    font-size: 150%;
    color: var(--customRed);text-align:center ;
  }
.unisexParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 100%;
  }
}
