:root {
  --customRed: #cc2228;
}
.hairSalonContainer {
  /* border: solid red; */
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hairSalonHeadContainer {
  /* border: solid; */
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--customRed);
}
.hairSalonHeadContainer > h1 {
  font-size: 40px;
  color: var(--customRed);
}
.hairSalonUnderline {
  border: 2px solid;
  width: 60px;
  color: var(--customRed);
}
.hairSalonParaContainer {
  /* border: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.hairSalonParaContainer > p {
  /* border: solid blue; */
  text-align: center;
  width: 90%;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .hairSalonContainer {
    /* border: solid red; */
    height: 30%;
    width: 100%;
    gap: 20px;
    margin-top: 50px;
  }
  .hairSalonUnderline {
    border: 2px solid;
    width: 100px;
  }
  .hairSalonHeadContainer > h1 {
    font-size: 150%;

  }
  .hairSalonParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size:100% ;
  }
}
@media screen and (max-width: 990px) and (min-width:990px){
  .hairSalonContainer {
    /* border: solid red; */
    height: 30%;
    width: 100%;
    gap: 20px;
    margin-top: 40px;
  }
  .hairSalonUnderline {
    border: 2px solid;
    width: 100px;
  }
  .hairSalonParaContainer > p {
    /* border: solid blue; */
    text-align: center;
    width: 90%;
    font-size: 30px;
  }
}