.navBg {
  background-color: black;
  height: 14vh;
  width: 100%;
  position: sticky;
  top: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navBg {
    background-color: black;
    height: 12vh;
    width: 100%;
    position: static;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .navBg {
    background-color: black;
    height: 100px;
    width: 100%;
    position: static;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .navBg {
    background-color: black;
    height: 14vh;
    width: 100%;
    position: static;
  }
}

@media screen and (min-width: 1200px) {
  .navBg {
    background-color: black;
    height: 14vh;
    width: 100%;
  }
}
