.upperNavContainer {
  /* border: solid red; */
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 6;
  height: 40px;
  background-color: var(--customColor);
  background-image: linear-gradient(
    #cc2228 0%,
    #cc2228 50%,
    #cc2228 50%,
    #cc2228 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.upperNavContainer > h3 {
  text-align: center;
  padding: 10px;
  color: white;
}
.upperNavContainer > h3 > span > a {
  text-decoration: underline;
  color: white;
}
