.OfferTestingImg {
  /* border: solid black; */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* .OfferTestingImgContent > img {
  width: 100%;
  height: 670px;
  object-fit: contain;
} */

.OfferTestingImgContent>.deskImg {
  width: 100%;
  height: 100%;
  
}
.OfferTestingImgContent>.mobileImg {
  /* border: solid blue; */
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.OfferTestingImgContent {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  position: relative;
}
.OfferTestingImgContent > a > button {
  border: none;
  position: absolute;
  bottom: 40px;
  right: 100px;
  z-index: 1;
  font-size: 20px;
  padding: 15px;
  background-color: var(--customColor);
  border-radius: 20px;
  color: white;
  cursor: pointer;
}
/* Custom styles for the dots */
.slick-dots {
  bottom: -30px; /* Position the dots below the slider */
}

.slick-dots li button:before {
  font-size: 12px; /* Adjust the size of the dots */
  color: #999; /* Default color of the dots */
  opacity: 1; /* Remove transparency */
}

.slick-dots li.slick-active button:before {
  color: #ff0000; /* Color for the active dot */
  opacity: 1; /* Ensure the active dot is fully visible */
}

/* Optional: Additional custom styles for dots */
.slick-dots li {
  margin: 0 5px; /* Space between dots */
}

.slick-dots li button {
  border: none; /* Remove the border from the dots */
}


@media screen and (min-width: 320px) and (max-width: 768px) {
  .OfferTestingImgContent > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .OfferTestingImgContent > a > button {
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    font-size: 10px;
    padding: 10px;
    background-color: var(--customColor);
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
  .OfferTestingImgContent>.deskImg {
    /* border: solid red; */
    width: 100%;
    height: 100%;
    display: none;
  }
  .OfferTestingImgContent>.mobileImg {
    display: block;
  }
}
