:root {
  --customBlack: #141414;
}
.navbg {
  background-color: black;
  height: 100px;
  width: 100%;
}
.membershipImgContainer {
  /* border: solid blue; */
  width: 100%;
  /* height: 42vh; */
  background-color: var(--customBlack);
  display: flex;
  justify-content: center;
  align-items: center;
}

.membershipHeadContainer {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.membershipHeadContainer > h2 {
  font-size: 30px;
}
.membershipUnderline {
  border: 2px red solid;
  width: 15%;
}
.membershipParaContainer {
  /* border: solid; */
  margin-top: 5%;
  height: 60vh;
}
.membershipParaContainer > p {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
.membershipPriceContainer {
  /* border: solid; */
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.membershipCardContainer {
  /* border: solid red; */
  height: 350px;
  width: 20%;
  border-radius: 10px;
  background-color: #cc2228;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}
.membershipCardTxt {
  border-bottom: 1px solid white;
  width: 80%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.membershipCardTxt > h2,
h4 {
  color: white;
}
.membershipPrice {
  border-bottom: 1px solid white;
  width: 80%;
  height: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.membershipPrice > h3 {
  color: white;
}
.rupeeicon {
  color: white;
}
@media screen and (max-width: 600px) {
  .membershipImgContainer {
    /* border: solid blue; */
    width: 100%;
    /* height: 22vh; */
    background-color: var(--customBlack);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .membershipImgContainer > img {
    width: 100%;
  }
  .membershipHeadContainer > h2 {
    font-size: 30px;
  }

  .membershipParaContainer > p {
    font-size: 110%;
    margin: 15px;
    text-align: start;
  }
  .membershipParaContainer {
    /* border: solid red; */
    margin-top: 5%;
    height: 100%;
  }
  .membershipPriceContainer {
    /* border: solid; */
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 15%;
  }
  .membershipCardContainer {
    /* border: solid red; */
    height: 350px;
    width: 50%;
    border-radius: 0px;
    background-color: #cc2228;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
  }
  .membershipCardTxt {
    border-bottom: 1px solid white;
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .membershipCardTxt > h2,
  h4 {
    color: white;
  }
  .membershipPrice {
    border-bottom: 1px solid white;
    width: 80%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .membershipPrice > h3 {
    color: white;
  }
  .rupeeicon {
    color: white;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .membershipImgContainer {
    /* border: solid blue; */
    width: 100%;
    height: 22vh;
    background-color: var(--customBlack);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
  }
  .membershipImgContainer > img {
    width: 100%;
  }
  .membershipHeadContainer {
    margin-top: 15%;
  }
  .membershipHeadContainer > h2 {
    font-size: 30px;
  }

  .membershipParaContainer > p {
    font-size: 110%;
    margin: 15px;
    text-align: start;
  }
  .membershipParaContainer {
    /* border: solid; */
    margin-top: 5%;
    height: 80vh;
  }
  .membershipParaContainer {
    /* border: solid red; */
    margin-top: 5%;
    height: 100%;
  }
  .membershipPriceContainer {
    /* border: solid; */
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin-top: 15%;
  }
  .membershipCardContainer {
    /* border: solid red; */
    height: 350px;
    width: 50%;
    border-radius: 0px;
    background-color: #cc2228;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
  }
  .membershipCardTxt {
    border-bottom: 1px solid white;
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .membershipCardTxt > h2,
  h4 {
    color: white;
  }
  .membershipPrice {
    border-bottom: 1px solid white;
    width: 80%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .membershipPrice > h3 {
    color: white;
  }
  .rupeeicon {
    color: white;
  }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .navbg {
    background-color: black;
    height: 100px;
    width: 100%;
  }
  .membershipImgContainer {
    /* border: solid blue; */
    width: 100%;
    /* height: 42vh; */
    background-color: var(--customBlack);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .membershipHeadContainer {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
  }
  .membershipHeadContainer > h2 {
    font-size: 30px;
  }
  .membershipUnderline {
    border: 2px red solid;
    width: 15%;
  }
  .membershipParaContainer {
    /* border: solid; */
    margin-top: 5%;
    height: 50vh;
  }
  .membershipParaContainer > p {
    font-size: 20px;
    margin: 10px;
    text-align: center;
  }
  .membershipPriceContainer {
    /* border: solid; */
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .membershipCardContainer {
    /* border: solid red; */
    height: 350px;
    width: 40%;
    border-radius: 10px;
    background-color: #cc2228;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5%;
  }
  .membershipCardTxt {
    border-bottom: 1px solid white;
    width: 80%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .membershipCardTxt > h2,
  h4 {
    color: white;
  }
  .membershipPrice {
    border-bottom: 1px solid white;
    width: 80%;
    height: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .membershipPrice > h3 {
    color: white;
  }
  .rupeeicon {
    color: white;
  }
}
