* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,
h2,
h3,
pre {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}

:root {
  --customColor: #cc2228;
  --customColorTrans: #cc222897;
}
