* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
pre,
a,
th,
td {
  /* font-family: "EB Garamond", serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* font-family: "customFont", sans-serif; */
}

:root {
  --customColor: #cc2228;
  --customColorTrans: #cc222897;
}
@font-face {
  font-family: "customFont";
  src: url("./Font/zapf_renaissance_book.ttf") format("truetype");
}
