
.lashesReadContainer {
  /* border: solid; */
  /* height: 70vh; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 20px;
}
.lashesReadContainer > header > h1 {
  margin: 20px;
  font-size: 40px;
  color: var(--customColor);
  display: block;
  font-weight: 400;
  text-align: center;
}
.lashesReadHeadContainer {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.lashesReadHeadContainer > ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lashesReadHeadContainer > ul > li {
  /* border: solid green; */
  width: 90%;
  font-size: 20px;
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.lashesReadHeadContainer > ul > li > h2 {
  text-align: center;
  width: 100%;
}
.lashesReadHeadContainer > ul > li > p > a {
  color: var(--customColor);
  text-decoration: none;
}
.lashesReadHeadContainer > ul > li > h4 {
  font-size: 20px;
  font-weight: 400;
}
.lashesReadHeadContainer > button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.lashesReadDisplayContainer {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  display: none;
  cursor: default;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.lashesReadDisplayContainer > ul {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lashesReadDisplayContainer > ul > li {
  /* border: solid blue; */
  width: 90%;
  font-size: 20px;
  list-style: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
.lashesReadDisplayContainer > ul > li > ul > h3 {
  font-size: 20px;
  font-weight: 400;
  color: var(--customColor);
}

.lashesReadDisplayContainer > ul > li > ul > li {
  list-style: decimal;
  margin-left: 30px;
  margin: 20px;
}
.lashesReadDisplayContainer > ul > li > ul > li > span {
  color: var(--customColor);
}

.lashesReadDisplayContainer > ul > li > p > a {
  color: var(--customColor);
  text-decoration: none;
}
.openBut {
  text-decoration: underline;
  font-weight: 400;
}
.lashesReadDisplayContainer > ul > li > p > span {
  color: var(--customColor);
}
.lashesReadDisplayContainer > ul >li>ul> li > a {
  color: var(--customColor);
  text-decoration: none ;
}
.lashesReadDisplayContainer>ul>li>h4{
  color: var(--customColor);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .lashesReadContainer {
    /* border: solid red; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    text-align: justify;
  }

  .lashesReadDisplayContainer {
    height: 100%;
  }
  .lashesReadDisplayContainer ul > li {
    /* border: solid green; */
    margin: 5%;
    font-size: 100%;
  }
}
