:root {
  --customRed: #cc2228;
}

.beautyCardContainer {
  /* border: solid blue; */
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.beautyCardMain {
  /* border: solid red; */
  position: relative;
  width: 25%;
  margin: 20px;
}
.beautyCardWrapper {
  /* border: solid; */
  height: 320px;
  width: 90%;
  margin: 15px;
  position: relative;
  overflow: hidden;
}
.beautyCardWrapper > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 600ms ease-in-out;
}
.beautyCardWrapper:hover .beautyCardImg {
  transform: scale(1.2);
}

.beautyCardCover {
  /* border: solid green; */
  height: 100%;
  width: 100%;
  background-color: var(--customRed);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  display: none;
}
.beautyCardWrapper:hover .beautyCardCover {
  display: flex;
}
.beautyCardTxtContainer {
  /* border: solid; */
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.beautyCardHead > h1 {
  font-size: 150%;
  color: white;
}

.beautyCardPara {
  font-weight: bold;
  color: white;
  text-align: justify;
}
.beautyCardPara > p {
  font-size: 90%;
}
.beautyCardBut > button {
  /* border: solid; */
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  border: none;
  color: var(--customRed);
}
.beautyGoto {
  border: 2px whitesmoke solid;
  display: flex;
  width: 280px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 3;
  bottom: -5px;
  left: 45px;
  background-color: white;
}
.goTo1 {
  margin-left: 20px;
}
.goTo1 > h1 {
  color: var(--customRed);
  font-size: 20px;
}
.goTo2 {
  margin-right: 20px;
}
.respBeautyServiceContainer {
  /* border: solid green; */
  height: 300px;
  width: 100%;
  margin: 0px;
  position: relative;
  overflow: hidden;
  display: none;
  justify-content: center;
  align-items: center;
}
.respBeautyServiceCardCover {
  /* border: solid blue; */
  height: 150%;
  width: 100%;
  background-color: var(--customRed);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.respBeautyServiceCardTxtContainer {
  /* border: solid yellowgreen; */
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
}
.respBeautyServiceCardHead > h1 {
  font-size: 160%;
  color: white;
}

.respBeautyServiceCardPara {
  font-weight: bold;
  color: white;
  text-align: justify;
  word-spacing: 2px;
  width: 90%;
}
.respBeautyServiceCardPara > p {
  font-size: 80%;
}
.respBeautyServiceCardBut > button {
  /* border: solid; */
  width: 200px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  border: none;
  color: var(--customRed);
}

@media only screen and (max-width: 600px) {
  .beautyCardContainer {
    /* border: solid red; */
    height: 400vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    overflow: none;
  }
  .beautyCardMain {
    /* border: solid yellow; */
    position: relative;
    width: 100%;
    height: 320px;
  }
  .beautyCardWrapper > img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: 600ms ease-in-out;
  }
  .beautyCardWrapper {
    /* border: solid green; */
    height: 200px;
    width: 100%;
    margin: 0px;
    position: relative;
    overflow: hidden;
  }
  .beautyGoto {
    border: 2px whitesmoke solid;
    width: 90%;
    height: 40px;
    bottom: -110px;
    left: 5%;
    background-color: white;
  }
  .respBeautyServiceCardCover {
    /* border: solid blue; */
    height: 70%;
    width: 100%;
    background-color: var(--customRed);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  .respBeautyServiceContainer {
    display: flex;
  }
}
@media only screen and (max-width: 990px) and (min-width: 600px) {
  .beautyCardContainer {
    /* border: solid red; */
    height: 230vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    gap: 0;
    overflow: none;
    margin-top: 0;
  }
  .beautyCardMain {
    /* border: solid yellow; */
    position: relative;
    width: 45%;
    height: 320px;
    margin: 10px;
  }
  .beautyCardWrapper > img {
    position: static;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: 600ms ease-in-out;
  }
  .beautyCardWrapper {
    /* border: solid green; */
    height: 200px;
    width: 100%;
    margin: 0px;
    position: relative;
    overflow: hidden;
  }
  .beautyGoto {
    border: 2px whitesmoke solid;
    width: 90%;
    height: 40px;
    bottom: -110px;
    left: 5%;
    background-color: white;
  }
  .respBeautyServiceCardCover {
    /* border: solid blue; */
    height: 70%;
    width: 100%;
    background-color: var(--customRed);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  .respBeautyServiceContainer {
    display: flex;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 990px) {
  .beautyCardContainer {
    /* border: solid blue; */
    width: 100%;
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .beautyCardMain {
    /* border: solid red; */
    position: relative;
    width: 40%;
    margin: 20px;
  }
  .beautyCardWrapper {
    /* border: solid; */
    height: 320px;
    width: 100%;
    margin: 0px;
    position: relative;
    overflow: hidden;
  }
  .beautyCardWrapper > img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 600ms ease-in-out;
  }
  .beautyCardWrapper:hover .beautyCardImg {
    transform: scale(1.2);
  }
  
  .beautyCardCover {
    /* border: solid green; */
    height: 100%;
    width: 100%;
    background-color: var(--customRed);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    display: none;
  }
  .beautyCardWrapper:hover .beautyCardCover {
    display: flex;
  }
  .beautyCardTxtContainer {
    /* border: solid; */
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }
  .beautyCardHead > h1 {
    font-size: 150%;
    color: white;
  }
  
  .beautyCardPara {
    font-weight: bold;
    color: white;
    text-align: justify;
  }
  .beautyCardPara > p {
    font-size: 90%;
  }
  .beautyCardBut > button {
    /* border: solid; */
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    border: none;
    color: var(--customRed);
  }
  .beautyGoto {
    border: 2px whitesmoke solid;
    display: flex;
    width: 90%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
    bottom: -15px;
    left: 20px;
    background-color: white;
  }
  .goTo1 {
    margin-left: 20px;
  }
  .goTo1 > h1 {
    color: var(--customRed);
    font-size: 20px;
  }
  .goTo2 {
    margin-right: 20px;
  }
 
  
}