.styleContainer {
  /* border: solid; */
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.styleContent {
  /* border: solid red; */
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.styleTxt > h3 {
  font-size: 30px;
  color: white;
  letter-spacing: 2px;
}
.styleUnderline {
  border: solid white 2px;
  width: 100px;
}
.styleContent > p {
  font-size: 20px;
  width: 85%;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .styleContainer {
    /* border: solid; */
    height: 300px;
    width: 100%;
  }
  .styleTxt > h3 {
    font-size: 140%;
    color: white;
    letter-spacing: 2px;
    text-align: center;
  }
  .styleContent > p {
    font-size: 100%;
    width: 85%;
    color: white;
    text-align: center;
  }
}
@media screen and (max-width: 990px) and (min-width: 600px) {
  .styleContainer {
    /* border: solid; */
    height: 300px;
    width: 100%;
  }
}
